.footer {
    width: 100vw;
    max-width: 650px;
    min-width: 390px;
    height: 60px;
    background-color: var(--dark-red);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer a {
    text-decoration: none;
}

.social-icon{
    display: block;
    font-size: 1.5em;
    color: var(--very-soft-yellow);
}